<div class="section" data-controller="namespaces">
  <div class="columns">
    <div class="column">
      <%= render "new_card" %>
    </div>
    <div class="column">
      <%= render "recent_panel", namespaces: @recent %>
    </div>
  </div>
</div>
