<div data-controller="namespaces">
  <h1>Namespaces</h1>
  <h2>Create Namespace</h2>
  <%= form_for( Namespace.new , remote: true) do |f| %>
    <p>
      <%= f.text_field :name %>
      <%= f.submit %>
    </p>
  <% end %>
  <h2>Recent Namespaces</h2>
  <%- Namespace.recent.limit(10).each do |namespace| %>
    <p><%= link_to namespace.name, namespace %></p>
  <%- end %>
</div>
